<head>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        #draggable { width: 150px; height: 150px; padding: 0.5em; }
    </style>
    <script>
        $(function() {
            $( "#draggable" ).draggable({
                snapMode: "inner",
                snapTolerance: "30",
                helper: "clone"
            });
        });
    </script>
</head>

<div align="center">
  <h1>Chart Writer</h1>
  <div id="draggable">
    <textarea ></textarea>
  </div>

  <form>
    <button>Save</button>
  </form>
</div>